.name {
  color: white;
  margin-top: -15px;
}
.name p {
  margin-top: -8px;
}
.leftBar {
  color: white;
  font-size: 14px;
  margin-top: 40px;
}

.leftBar p {
  cursor: pointer;
}

.profilePicture img {
  margin-left: 70px;
}
.profilePicture h3 {
  float: right;
  font-weight: 400;
  text-decoration: underline;
}
.spanTextDesktop {
  position: relative;
  bottom: 70px;
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
}
.spanTextMobile {
  display: none;
}
@media screen and (max-width: 360px) {
  .spanTextMobile {
    display: block;
    font-size: 14px;
    font-weight: 200;
    text-decoration: underline;
  }
  .spanTextDesktop {
    display: none;
  }
  .profilePicture img {
    margin-left: 0px;
  }
}
