.background {
  background-image: url("../../Assets/GOLD.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  max-width: 88% !important;
}
.height {
  background-color: white;
  min-height: 70vh;
}
