.heading {
  color: black;
}
.cloudHeading {
  color: white;
  margin-bottom: -10px;
  margin-top: 0px;
}
.cloudParagraph {
  color: white;
}
.smallText {
  font-size: 15px;
  font-weight: 550;
  color: rgb(14, 14, 14);
}
.profile {
  margin-top: 15px;
}
