.border {
  border: 1px solid black;
  background-color: black;
  color: white;
  text-align: center;
}
.profilePicture {
  padding-bottom: 5px;
  padding-top: 10px;
  margin-top: 20px;
}
.searchBox {
  background-color: white;
  height: 30px;
  width: 90%;
  border-radius: 10px;
}
.searchButton {
  background-color: red;
  color: white;
  border-radius: 50%;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;

  cursor: pointer;
}
.adjustment {
  margin-bottom: -15px;
  margin-top: 30px;
}
.search h3 {
  color: #f5991e;
}

.datePicker {
  margin-top: 90px;

  background-color: white;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}
@media screen and (max-width: 960px) {
  .searchButtonn {
    margin-left: 0px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 1300px) {
  .searchButtonn {
    margin-left: 0px;
  }
}
@media screen and (max-width: 600px) {
  .datePicker {
    margin-bottom: 20px;
    margin-top: -15px;
  }
  .search {
    margin-top: -30px;
  }
}
