.text {
  color: white;
  font-size: 18px;
}
.button button {
  border: 5px solid white;
  background-color: #bb0001;
  color: white;
  width: 210px;
  font-size: 17px;
  font-weight: 550;
  border-radius: 10px;
}
.comingSoon {
  margin-top: 40px;
}
@media screen and (max-width: 280px) {
  .button button {
    border: 5px solid white;
    background-color: #bb0001;
    color: white;
    width: 100%;
    font-size: 14px;
    font-weight: 550;
    border-radius: 10px;
  }
}
