.background {
  background-image: url("../../Assets/GOLD.jpg");
  position: relative;
}
.container {
  max-width: 88% !important;
}
.contentBackground {
  background-color: white;
  min-height: 80vh;
}
