.align {
  text-align: center;
  background-color: white;
}
.align h2 {
  color: black;
}
.tableWidth {
  width: 100%;
}
th {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  font-weight: 700;
  padding-bottom: 10px;
}
tr {
  font-weight: 500;
}
table {
  border-collapse: separate;
  border-spacing: 0 10px;
}
.arrowIcon {
  font-size: 30px;
}
